<% if (successMessage) { %>
<div class="alert alert-success alert-berhasil" role="alert">
  <span><%= successMessage %></span>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } else if (errorMessage) { %>
<div class="alert alert-danger alert-error" role="alert">
  <span><%= errorMessage %></span>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>



<!-- Button trigger modal -->
<a
  href="/add-form"
  style="text-decoration: none; background-color: #416B8B; color: #fff"
  class="btn btn-add-form"
>
  <i style="font-size: 18px" class="bi bi-plus"></i> Tambahkan Form
</a>

<div class="wrapper-postingan">
  <% forms.forEach(form => { %>
  <a href="/detail-form/<%= form.form_id %>" class="postingan">
    <div class="top">
      <div class="judul">
        <p class="judul-form"><%= form.title %></p>
      </div>
      <div class="deskripsi"><%= form.description %></div>
    </div>
    <div class="bottom">
      <div class="pengguna">
        <div class="pic-uploader">
          <% if (form.avatar) { %>
          <img src="./img/<%= form.avatar %>" width="100" height="100" />
          <% } else { %>
          <img src="./img/profil-icon.png" width="100" height="100" />
          <% } %>
        </div>
        <div class="nama-uploader">
          <span class="nama"><%= form.username %> </span
          ><span> <%= moment(form.created_at).format('LL') %></span>
        </div>
      </div>
    </div>
  </a>
  <% }); %>
</div>
